.ql-mention-list-container {
  min-width: 340px;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.ql-mention-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  padding: 7px 10px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.ql-mention-list-item + .ql-mention-list-item {
  padding-top: 6px;
}

.ql-mention-list-item img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 3px;
  margin-right: 4px;
}

.ql-mention-list-item.selected {
  text-decoration: none;
  color: #FFF;
  background-color: #578dc9;
}

#tdt-editor a{
  text-decoration: none;
  display: inline-flex;
  max-width: 173px;
  max-height: 26px;
  line-height: 13px;
  font-size: 13px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid #215ab2;
  color: #215ab2;
}
